<!doctype html>
<html class="no-js" lang="">

{{ partial "head.html" . }}

{{$colorDict := dict "html" "#000" 
                "css" "#23A2CC" 
                "python" "darkgreen" 
                "tensorflow" "orange" 
                "pytorch" "#FA6108" 
                "react" "#0689b8"
                "C#" "#9a4993"
                "java" "#734602"
                "javascript" "#c7ab04"
                "node" "#60a556"
                "gcp" "#437af9"
                "aws" "#ff9900"
                "sqlserver" "#ad1519"
                "sass" "#cc649c"
}}

<body>
    {{ `<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    "python" "darkgreen" "tensorflow" "orange" "pytorch" "rgb(250, 97, 8)" "react" "#61dafb")
    <![endif]-->` | safeHTML }} 
  <!-- Add your site or application content here -->
    <div class="flex-column">
        {{ partial "banner.html" . }}
        <div class="home">
            <div class="logo"> 
                <h1><a href="/">{{.Site.Title}}</a></h1>
            </div>
            {{ partial "nav.html" . }}
            <div>
                <article>
                    <h3>{{ .Title }}</h3>
                    <div class="less">
                        <time>Published: {{ .PublishDate.Format "Monday, Jan 2, 2006" }}</time>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ .ReadingTime }} minute read&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Using {{ .WordCount }} words
						<div class="tag-single">
							<time>Tags:&nbsp;</time>
							<ul>
								{{ range (.GetTerms "tags") }}
								<li style="--tagcolor: {{ index $colorDict .LinkTitle}}"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
								{{ end }}
							</ul>
						</div>
                    </div>
                    <div class="em">{{ .Content | safeHTML }}</div>
                    <br />
                    <br />
                    <div class="less">Page link: <a href="{{ .RelPermalink }}" class="pagelink">{{ .RelPermalink }}</a></div>
                    <div class="line-dotted"></div>
                <article>
				{{ if gt (len .Site.DisqusShortname) 2 }}
					{{ template "_internal/disqus.html" . }}
				{{ end }}
            </div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "banner.html" . }}
    </div>

  {{ partial "foot.html" . }}
</body>
</html>
